{% extends "_layout.html" %}

{% block title %}Sponsors{% endblock %}

{% load staticfiles %}

{% block main_content %}

    <div class="row">

        <div class="col-md-6">
            <h3 class="title-underline">A Word of Thanks</h3>
            <p>{{ model.sponsorship.about | safe }}</p>
        </div>
        <div class="col-md-6">
            <h3 class="title-underline">Get Involved</h3>
            <p>{{ model.sponsorship.how_to | safe }}</p>
            <p>Email: <a href="mailto:{{ model.sponsorship.email }}">{{ model.sponsorship.email }}</a></p>
        </div>

    </div>

    <h3 class="title-underline">Club Sponsors</h3>

    {% for sponsor_row in model.club_sponsors %}
        <div class="row">
            <div class="col-md-6">
                {% if sponsor_row.left.id %}
                    <div class="row">
                        <div class="col-xs-3">
                            <a href="{{ sponsor_row.left.primary_url }}">
                                {% if sponsor_row.left.logo %}
                                    <img class="img-responsive"
                                         src="{{ sponsor_row.left.logo.url }}"
                                         alt="sponsors logo"/>
                                {% endif %}
                            </a>

                        </div>

                        <div class="col-xs-9">
                            <a href="{{ sponsor_row.left.primary_url }}">
                                <h4 class="list-group-item-heading">{{ sponsor_row.left.name }}</h4>
                            </a>
                            <p class="list-group-item-text">{{ sponsor_row.left.summary | safe }}</p>
                        </div>
                    </div>

                {% endif %}
            </div>
            <div class="col-md-6">

                {% if sponsor_row.right.id %}

                    <div class="row">
                        <div class="col-xs-3">
                            <a href="{{ sponsor_row.right.primary_url }}">
                                {% if sponsor_row.right.logo %}
                                    <img class="img-responsive"
                                         src="{{ sponsor_row.right.logo.url }}"
                                         alt="sponsors logo"/>
                                {% endif %}
                            </a>

                        </div>

                        <div class="col-xs-9">
                            <a href="{{ sponsor_row.right.primary_url }}">
                                <h4 class="media-heading">{{ sponsor_row.right.name }}</h4>
                            </a>
                            <p>{{ sponsor_row.right.summary | safe }}</p>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>


    {% endfor %}


    <h3 class="title-underline">Squad Sponsors</h3>

    {% for sponsor_row in model.squad_sponsors %}
        <div class="row">
            <div class="col-md-6">
                {% if sponsor_row.left.id %}
                    <div class="row">
                        <div class="col-xs-3">
                            <a href="{{ sponsor_row.left.primary_url }}">
                                {% if sponsor_row.left.logo %}
                                    <img class="img-responsive"
                                         src="{{ sponsor_row.left.logo.url }}"
                                         alt="sponsors logo"/>
                                {% endif %}
                            </a>

                        </div>

                        <div class="col-xs-9">
                            <a href="{{ sponsor_row.left.primary_url }}">
                                <h4 class="list-group-item-heading">{{ sponsor_row.left.name }}</h4>
                            </a>
                            <p class="list-group-item-text">{{ sponsor_row.left.summary | safe }}</p>
                        </div>
                    </div>

                {% endif %}
            </div>
            <div class="col-md-6">

                {% if sponsor_row.right.id %}

                    <div class="row">
                        <div class="col-xs-3">
                            <a href="{{ sponsor_row.right.primary_url }}">
                                {% if sponsor_row.right.logo %}
                                    <img class="img-responsive"
                                         src="{{ sponsor_row.right.logo.url }}"
                                         alt="sponsors logo"/>
                                {% endif %}
                            </a>

                        </div>

                        <div class="col-xs-9">
                            <a href="{{ sponsor_row.right.primary_url }}">
                                <h4 class="media-heading">{{ sponsor_row.right.name }}</h4>
                            </a>
                            <p>{{ sponsor_row.right.summary | safe }}</p>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}

{% endblock %}